 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
 { 

.slider {
    background-color: rgba(1,1,1,.6);
    color: white;
    padding: 80px;
    margin-top: 30px; }

.display-4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}

.slider h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.slider p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
}

.btn-custom  {
    
   margin-left: 62px;
}

.custom-ind li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.slider button{

margin-bottom: 20px;

}


.logo {
    width: 38%;
    margin: 0 auto;
    margin-left: 123px;
}


.btn-link-custom {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    text-decoration: none;

}

.btn-link-custom p{

	font-size: 14px;
}

.btn-custom {
    margin-left: 60px;
}

.display-4-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.display-6-custom{

font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;

}

.btn-custom3 {
    margin-left: 130px;
    margin-top: 15px;
    font-size: 15px;
}

  }






 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
 { 

 	.slider {
    background-color: rgba(1,1,1,.6);
    color: white;
    padding: 80px;
    margin-top: 30px;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.slider h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.slider p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.btn-custom {
    cursor: pointer;
    margin-left: 123px;
}

.custom-ind li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.slider button{

margin-bottom: 30px;

}

.btn-custom {
    margin-left: 118px;
}

  }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
 { 

.slider h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.slider p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}


.slider button{

margin-bottom: 50px;

}

.custom-ind li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

  
.logo {
   width: 33%;
   margin-left: 248px;

}

.btn-link-custom {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 210px;

}

.btn-link-custom p{

	font-size: 14px;
}

.btn-custom {
    cursor: pointer;
    margin-left: 217px;
}

.btn-custom2 {
    cursor: pointer;
    margin-left: 217px;
}

.display-4-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.display-6-custom{

font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;

}

.btn-custom3 {
    margin-left: 270px;
    margin-top: 15px;
}
  }

  

/*/Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{ .


}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{ .


}
